.flex-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.m-auto {
  margin: 1rem auto;
}